@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: LightGray;
}
.container {
  display: flex;
  flex-direction: row;
}
.navbar {
  justify-content: space-around;
}
#main-content{
  display: flex;
  margin-top: 50px;
}
.cards {
  display: flex;
  flex-flow: row
}
.card {
  max-width:600px;
  max-height:350px;



  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
}
